@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>
    At PlayNexus, your privacy is important to us. User data is stored securely and is never shared with third parties except as required by law. We use industry-standard security practices to protect your information. By using our site, you agree to our collection and use of information as described in this policy.
</p>
